/* @import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap'); */
body {
  margin: 0;
  padding: 0;
  /* font-family: "Luckiest Guy", cursive; */
  background-color: rgb(1, 177, 69);
  color: white;
}

#game-layout {
  display: flex;
  justify-content: center;
  align-items:first center;
  flex-direction: row-reverse;
  margin-top: -50px;
}

#deck-station {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  background-color: white;
  color: rgb(1, 177, 69);
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  border: 2px solid black;
}
#back-to-home-button{
  padding: 12px 28px;
  color: white;
  background-color: rgb(1, 177, 69);
  border: 2px solid black;
  border-radius: 8px;
  text-decoration: none;
  cursor: pointer;
  margin: 10px;
}
#back-to-home-button:hover{
    transform: scale3d(1.05);
    background-color: rgb(154, 1, 1);
    color: black;
    border: 2px solid white;
}
#deck-image {
  width: 100px;
  height: 140px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

#deck-image:hover {
  transform: scale(1.05);
  box-shadow: 0 0 6px rgba(0, 0, 0, 1);
}

#score-board {
  margin-bottom: 10px;
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  color: rgb(1, 177, 69);
  background-color: white;
  padding: 10px;
  border-radius: 8px solid black ;
}

#game-content {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.play-section {
  margin-bottom: 30px;
  text-align: center;
}

.bench {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.card-slot {
  width: 100px;
  height: 140px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

.card-slot img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.active-area {
    width: 100px;
  height: 140px;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
  margin: 10px 250px;
}

.versus {
  font-size: 40px;
  font-weight: bold;
  font-style: italic;
  margin: 10px ;
  margin-top: -10px;
}
#restart-button {
  width: 250px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  transition: transform 0.2s ease-in;
}

#restart-button:hover{
    transform: scale(1.05);
}
#player-side{
  margin-bottom: 0;
  padding-top: 30px;
}